<p>Hi, {{ user.username }}!</p>

{% if product_data %}
<table border="1" cellpadding="8" cellspacing="0">
    <tr>
        <th>Product Name</th>
        <th>Price (PHP)</th>
    </tr>
    {% for product_record in product_data %}
    <tr>
        <td>
            <a href="{% url 'product_detail' product_record.id %}">
                {{ product_record.name }}
            </a>
        </td>
        <td>{{ product_record.price }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No products available.</p>
{% endif %}